
<button class="button" (click)="sendPendingV1(selectedFile)" mat-fab extended>
    <!-- <mat-icon></mat-icon> -->
    Attribute Information Verified
  </button>
<button class="button" (click)="sendPendingV2(selectedFile)" mat-fab extended>
    <!-- <mat-icon></mat-icon> -->
    Topological Error Verified
  </button>
<button class="button" (click)="sendPendingV3(selectedFile)" mat-fab extended>
    <!-- <mat-icon></mat-icon> -->
    LRS Process Completed
  </button>
<button class="button" (click)="sendPendingV4(selectedFile)" mat-fab extended>
    <!-- <mat-icon></mat-icon> -->
    Overall Verification Completed
  </button>
<button class="button" (click)="sendPendingV5(selectedFile)" mat-fab extended>
    <!-- <mat-icon></mat-icon> -->
    File Delivered
</button>

<!-- <table>
    <thead>
        <tr>
            <th> Selected File name</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{this.receivedSelectedFile}}</td>
        </tr>
    </tbody>
</table> -->